*
!cmd
!cmd/*
!internal
!internal/**/*
!test
!test/**/*
!docs
!docs/*
!main.go
!README.md
!LICENSE
!go.mod
!go.sum
!Dockerfile
!.gitignore
!.goreleaser.yml
!.golangci.yml
!.github
!.github/**/*
*.coverprofile